<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置-->
<configuration>
    <!--可以配置多套环境-->
    <environments default="development">
        <!-- 数据库环境 -->
        <environment id="development">
            <!-- 使用JDBC事务管理 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源配置 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/manyidu?useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>

    </environments>
    <!-- 映射器 -->
<!--    <mappers>-->
<!--        <mapper resource="ShopMapper.xml"/>-->
<!--&lt;!&ndash;        <mapper resource="UserMapper.xml"/>&ndash;&gt;-->
<!--    </mappers>-->
    <mappers>
        <mapper resource="ShopMapper.xml"/>
        <mapper class="com.example.my_java.mapper.UserMapper"/>
    </mappers>
</configuration>